<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>Product Registration</h2>
  </div>
  <form enctype="multipart/form-data" method="post" th:action>
    <ul>
      <li>Product Name <input name="itemName" type="text"></li>
      <li>Attachment File <input name="attachFile" type="file"></li>
      <li>Image Files <input multiple="multiple" name="imageFiles" type="file"></li>
    </ul>
    <input type="submit"/>
  </form>
</div> <!-- /container -->
</body>
</html>
